@tailwind base;

body {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 213l129 23 128-62 129 38 128 30 129-86 128 51 129 29V0H0z' fill='%23111827'/%3E%3Cpath d='M0 175l129-52 128 62 129-62 128 18 129 49h128l129-47V0H0z' fill='%230d2535'/%3E%3Cpath d='M0 100l129 28 128-20 129-6 128 41 129-24 128-16 129 35V0H0z' fill='%23053340'/%3E%3Cpath d='M0 88l129-18 128 8 129 28 128-3 129-27 128 38 129-35V0H0z' fill='%23034147'/%3E%3Cpath d='M0 69l129-7h128l129-5 128-18 129 35 128-10 129-2V0H0z' fill='%23134e4a'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @apply bg-gray-900 antialiased text-gray-400 border-t-4 border-teal-600;
}

@tailwind components;
@tailwind utilities;